@import "https://fonts.googleapis.com/css2?family=Cabin&display=swap";
@import "https://fonts.googleapis.com/css2?family=Cabin&family=Cabin+Condensed:wght@700&family=Rubik&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}

body {
  background: #044E8E;
}
.navigation {
  position: fixed;
  inset: 20px 0 20px 20px;
  width: 75px;
  background: #ECF1FE;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.navigation .menuToggle {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 38px;
}
.navigation .menuToggle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #333;
  transform: translateY(-8px);
  transition: 0.5s;
}
.navigation .menuToggle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #333;
  transform: translateY(8px);
  transition: 0.5s;
  box-shadow: 0 -8px 0 #333;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.navigation ul li {
  list-style: none;
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  transition: 0.5s;
}
.navigation ul li.active {
  transform: translateX(30px);
}
.navigation ul li.active a .icon {
  color: #fff;
  background: var(--clr);
}
.navigation ul li.active a .icon::before {
  opacity: 0.5s;
}
.navigation ul li.active a .text {
  color: var(--clr);
}
.navigation ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 55px;
  height: 55px;
  line-height: 60px;
  transition: 0.5s;
  border-radius: 10px;
  font-size: 1.75em;
  color: #222;
}
.navigation ul li a .icon::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  filter: blur(8px);
  opacity: 0;
  transition: 0.5s;
}
.navigation ul li a .icon:hover {
  background-color: #1f8ff1;
}
.navigation ul li a .text {
  position: relative;
  padding: 0 15px;
  height: 60px;
  display: flex;
  align-items: center;
  color: #333;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
.navigation ul li a .text:hover {
  background-color: #1f8ff1;
}
.navigation.open .menuToggle::before {
  transform: translateY(0px) rotate(45deg);
}
.navigation.open {
  width: 248px;
}
.navigation.open .menuToggle::after {
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0 0 #333;
}
.navigation.open ul li.active {
  transform: translateX(10px);
}
.navigation.open ul li a .text {
  opacity: 1;
  visibility: visible;
}
.container {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 20px;
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  border-radius: 15px;
  border: none;
  justify-content: center;
  margin-top: 5%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.titulo {
  margin-left: 3%;
  color: #043a69;
}
h1 {
  font-size: 40px;
  font-family: 'Cabin', sans-serif;
  font-family: 'Cabin Condensed', sans-serif;
  font-family: 'Rubik', sans-serif;
}
.resume {
  margin: 4%;
}

.icof {
  display: flex;
}

.icons {
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
  color: #032e52;
}

.conversiones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conver {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  min-width: 10%;
  text-align: center;
  max-width: 22%;
}
.conver img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
/*toggle responsive*/
@media (max-width: 1024px) {
  .container {
    height: 1%;
  }
  .conversiones {
    flex-wrap: nowrap;
  }
}
@media (max-width: 768px) {
  .container {
    height: 63vh;
    width: 80%;
    margin-left: 12%;
  }
  h4 {
    font-size: 12px;
  }
  h1 {
    font-size: 30px;
  }
  .icons {
    font-size: 20px;
}
  .icof {
    display: flex;
    z-index: 1;
    font-size: 20px;
  }
.navigation {
  display: none;
}
.navigation.active {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1f8ff1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0px;
  .menuToggle {
    display: none;
  }
}
.navigation ul li {
  width: 120%;
}
.navigation ul li a {
  position: relative;
  font-size: 1.5em;
  margin: 10px 0;
  display: contents;
  align-items: center;
  justify-content: center;
}
.navigation ul li a .icon {
  width: 82%;
}
.navigation ul li.active {
   transform: translateX(0px); 
}
.toggle {
  position: fixed;
  width: 30px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  cursor: pointer;
  margin-left: 3%;
  padding-bottom: 30px;
  margin-top: -4%;
}
.toggle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #fff;
  transition: 0.25s;
  
}
.toggle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(10px);
  transition: 0.25s;
  
}
.toggle.active {
  position: relative;
  margin-top: 1%;
}
.toggle.active::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 #fff;
}
.toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}
@media (max-width: 425px) {
  .container {
    height: 1%;
    width: 300px;
    margin-left: 16%;
  }
  h4 {
    font-size: 10px;
  }
  h1 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
  }
  .titulo {
    margin-left: 0px;
    margin-bottom: 6%;
  }
  .icons {
    font-size: 16px;
}
  .icof {
    display: block;
    z-index: 1;
    font-size: 20px;
    margin-block: -10px;
  }
  .conversiones {
    flex-wrap: wrap;
    display: flex;
  }
  .conver {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    min-width: 40%;
    text-align: center;
    max-width: 20%;
  }
}
@media (max-width: 375px) {
  .container {
    height: 1%;
    width: 100%;
  }
 h1 {
font-size: 22px;
 }
  }
  @media (max-width: 320px) {
    .container {
      height: 1%;
      width: 90%;
    }
    h1 {
   font-size: 18px;
    }
    .conver {
      min-width: 38%;
    }
     }
}