* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background: linear-gradient(325deg,#ECECED, #5b5b89);
    font-family: "Cabin", sans-serif;
    font-family: "Rubik", sans-serif;
  }
  .form {
    background: linear-gradient(325deg,#66afe9, #0c6fbf );
    border-radius: 8px;
  }
  title {
    padding: 0px 15px;
  }
  
  h2 {
    color: #333333;
    font-size: 36px;
    margin-left: 25px;
    margin-top: 20px;
  }
  
  .row {
    margin-top: 30px;
    padding: 0px 25px;
    display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  }
  
  label {
    flex: 1;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
  }
  
  .input {
    flex: 2;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0px 12px;
    font-size: 24px;
    color: #888;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    border-radius: 7px;
    transition: border-color ease-in-out 0.15s;
  }
  .input-b {
      display: block;
      width: 100%;
      height: 40px;
      padding: 0px 12px;
      font-size: 20px;
      color: #888;
      border: 1px solid #ccc;
      background-color: #FFFFFF;
      border-radius: 7px;
    }
    .input-b:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
        
      }
      .colum-textcenter {
        margin: 0px 0px 15px;
        padding: 0px 15px;
      }